.auth-container {
  background: url(./assets/imgs/background.png);
  background-size: cover;
}
.bg-overlay {
  background: linear-gradient(rgba(47, 140, 96, 0.63), rgba(0, 0, 0, 0.62));
}
.login-content {
  width: 746px;
  height: 570px;
}

.formIn {
  background-color: rgba(247, 247, 247, 1);
  position: relative;
}

.formIn input:focus {
  box-shadow: none !important;
}

.formIn::after {
  position: absolute;
  top: 7px;
  left: 53px;
  height: 75%;
  width: 2px;
  background: #c6c7c8;
  content: "";
}
.handleErr {
  background-color: hsl(9, 83%, 52%);
  border-radius: 10px;
  filter: drop-shadow(2px 2px 2px gray);
  animation: headShake 1s 2 ease-in-out alternate;
}
.loginHead {
  animation: zoomInDown 1.5s 1 ease-in-out alternate;
  font-family: Arial, Helvetica, sans-serif;
}
.submitBtn svg {
  margin: auto;
}
