/*Authentication Styling ==>[ Loign , Forget , Reset ]*/
.auth-container {
  background: url(./assets/imgs/background.png);
  background-size: cover;
}
.bg-overlay {
  background: linear-gradient(rgba(47, 140, 96, 0.63), rgba(0, 0, 0, 0.62));
}
.login-content {
  width: 746px;
  height: 500px;
}
.login-contentError {
  width: 746px;
  height: 570px;
}
.login-contentForget {
  width: 746px;
  height: 490px;
}
.login-contentForgetError {
  width: 746px;
  height: 520px;
}
.login-contentReset {
  width: 746px;
  height: 570px;
}
.login-contentResetError {
  width: 746px;
  height: 730px;
}

.register-content {
  width: 770px;
}
.formIn {
  background-color: rgba(247, 247, 247, 1);
  position: relative;
}

.formIn input:focus {
  box-shadow: none !important;
}

.formIn::after {
  position: absolute;
  top: 7px;
  left: 53px;
  height: 75%;
  width: 2px;
  background: #c6c7c8;
  content: "";
}
.handleErr {
  background-color: hsl(9, 83%, 52%);
  border-radius: 10px;
  filter: drop-shadow(2px 2px 2px gray);
  animation: headShake 1s 2 ease-in-out alternate;
}
.loginHead {
  animation: zoomInDown 1.5s 1 ease-in-out alternate;
  font-family: Arial, Helvetica, sans-serif;
}
.submitBtn svg {
  margin: auto;
}

/*SideBar*/

.sidebar-content .ps-sidebar-container {
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(31, 38, 62, 1);
  color: white;
  font-weight: bold;
  border-top-right-radius: 50px;
}
.sidebar-content .ps-sidebar-container {
  background-color: rgba(31, 38, 62, 1);
  color: white;
  font-weight: bold;
}
.sidebar-content ul li:first-of-type a:hover {
  background-color: transparent !important;
}
.sidebar-content ul li:not(:first-of-type) a {
  transition: all 0.5s;
}
.sidebar-content ul li:not(:first-of-type) a:hover {
  background-color: rgb(0 67 49) !important;
  box-shadow: -2px 0px 2px 2px #343a40;
  transform: scale(1.05);
}
/*navbar*/
.avatarImg {
  width: 50px;
  height: 50px;
}
.searchNav {
  width: 85% !important;
}
.notificationIcon {
  position: relative;
}
.notificationIcon ::after {
  content: "";
  position: absolute;
  top: 0;
  right: 3px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: tomato;
}
/*Header*/
.header-content {
  background-image: url(./assets/imgs/header-bg-svg.svg);
  background-size: cover;
}
/*Not Found*/
.notFound-content {
  background-image: url(./assets/imgs/not-found-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.notFound-content div {
  margin-top: -50px;
}
/*
matserLayout
*/
.masterLayout {
  padding-left: 0 !important;
  overflow-x: hidden;
}
/*dashboard*/
.redirect,
.recipe-details {
  margin: auto;
  width: 95%;
  margin-left: 2%;
  background-color: rgba(240, 255, 239, 1);
}
.redirect button {
  width: 223px !important;
  height: 48px;
}

/*recipes*/
.tableHead {
  background-color: rgba(226, 229, 235, 1) !important;
}
.priceInput {
  position: relative;
}
.priceInput::after {
  position: absolute;
  content: "EGP";
  top: 7px;
  right: 7px;
  font-weight: bold;
}
.navigation {
  width: 100% !important;
}
.page-item {
  cursor: pointer;
}
